In [30]:
import pandas as pd
from faker import Faker
import random

In [52]:
fake = Faker()
id = []
name = []
username = []
birthdate = []
job = []
sex = []

In [32]:
fake.profile()

{'job': 'Research scientist (physical sciences)',
 'company': 'Soto Group',
 'ssn': '840-46-5029',
 'residence': '3508 James Mountains Suite 667\nCourtneyview, MS 62216',
 'current_location': (Decimal('15.299028'), Decimal('-157.769058')),
 'blood_group': 'O-',
 'website': ['http://mejia.com/',
  'https://www.boyd.info/',
  'http://www.miller-singh.info/'],
 'username': 'youngmaurice',
 'name': 'Melissa Jenkins',
 'sex': 'F',
 'address': '281 Johnson Pass\nStephanieport, OK 54593',
 'mail': 'fhale@gmail.com',
 'birthdate': datetime.date(1963, 10, 19)}

In [40]:
fake.date_of_birth(minimum_age = 18)

datetime.date(1971, 1, 20)

In [53]:
for i in range(101):
    id.append(i)
    name.append(fake.profile()['name'])
    username.append(fake.profile()['username'])
    birthdate.append(fake.date_of_birth(minimum_age = 18))
    job.append(fake.profile()['job'])
    sex.append(fake.profile()['sex'])

In [59]:
len(sex)

101

In [35]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [39]:
calculate_age(birthdate[6])

42

In [60]:
user_data = pd.DataFrame()

In [61]:
user_data['ID'] = id
user_data['name'] = name
user_data['username'] = username
user_data['birthdate'] = birthdate
user_data['job'] = job
user_data['sex'] = sex
user_data

,ID,name,username,birthdate,job,sex
0,0,Bradley Russo,rbennett,1968-11-08,Best boy,F
1,1,Brian Duncan,cindy96,1924-11-11,"Runner, broadcasting/film/video",F
2,2,Jack Neal,daniel14,1922-06-06,"Designer, television/film set",F
3,3,Jasmine Harris,brianwhite,1972-04-12,Energy manager,F
4,4,Lisa Patrick DDS,websterashley,1980-11-01,Marketing executive,F
...,...,...,...,...,...,...
96,96,Denise Jenkins,kclark,1924-07-01,"Engineer, maintenance",F
97,97,Deborah Sweeney,cathy96,1998-01-23,Ophthalmologist,F
98,98,Daniel Becker,travisandrew,1921-07-11,Communications engineer,M
99,99,Jacob Roberts,barbara29,1971-10-30,"Therapist, sports",F
100,100,Robert Lewis,havila,1984-12-18,Technical author,M

In [62]:
user_data.to_csv("user_data.csv", index=False)

In [63]:
user_data

,ID,name,username,birthdate,job,sex
0,0,Bradley Russo,rbennett,1968-11-08,Best boy,F
1,1,Brian Duncan,cindy96,1924-11-11,"Runner, broadcasting/film/video",F
2,2,Jack Neal,daniel14,1922-06-06,"Designer, television/film set",F
3,3,Jasmine Harris,brianwhite,1972-04-12,Energy manager,F
4,4,Lisa Patrick DDS,websterashley,1980-11-01,Marketing executive,F
...,...,...,...,...,...,...
96,96,Denise Jenkins,kclark,1924-07-01,"Engineer, maintenance",F
97,97,Deborah Sweeney,cathy96,1998-01-23,Ophthalmologist,F
98,98,Daniel Becker,travisandrew,1921-07-11,Communications engineer,M
99,99,Jacob Roberts,barbara29,1971-10-30,"Therapist, sports",F
100,100,Robert Lewis,havila,1984-12-18,Technical author,M

In [64]:
content_data = pd.read_csv("TVNZ_movies_v3.csv")

In [65]:
content_data

,ID,title,description,tag,image,path,genre,mood,distributor,branded-vod,k_means,k_genre,GenreType,Language,Local
0,0,Smoke & Mirrors,The true story of a man who fooled an entire c...,"genre:drama/crime-thriller,genre:drama,genre:d...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"crime-thriller, drama, foreign-language-subtit...","thrilling, mysterious",rialto,filmstream,3,0,Thriller,Spanish,0
1,1,Dede,A young woman living in a remote mountain vill...,"genre:drama,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"drama, foreign-language-subtitled, movie, real...","revealing, all-the-feels",rialto,filmstream,3,1,Drama,English,0
2,2,The Soul of Flies,A tale of two brothers who meet for the first ...,"genre:movie,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, foreign-language-subtitled, comedy","quirky, irreverent, cheeky",rialto,filmstream,3,1,Drama,Spanish,0
3,3,The Unauthorised Melrose Place Story,Discover the drama that went on behind the cam...,"genre:movie,genre:closed-captions,genre:drama,...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, closed-captions, drama, real-life-stori...","nostalgic, all-the-feels",a-e,lifetime,5,2,Real Life Story,English,0
4,4,Stolen By My Mother: The Kamiyah Mobley Story,"Based on the true story, an 18-year-old girl f...","genre:movie,genre:drama,genre:drama/real-life-...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, real-life-stories",diverse,a-e,lifetime,2,2,Real Life Story,English,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,Gone Mom: The Disappearance of Jennifer Dulos,"Based on the true story of Jennifer Dulos, a w...","genre:movie,genre:drama/real-life-stories,genr...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, real-life-stories, drama, crime-thriller","mysterious, thrilling, all-the-feels",a-e,lifetime,2,0,Thriller,English,0
148,148,Good Manners,"Clara, a lonely nurse from the outskirts of SÃ£...","genre:drama/crime-thriller,genre:drama,genre:d...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"crime-thriller, drama, foreign-language-subtit...","mysterious, scary, all-the-feels",rialto,filmstream,3,1,Drama,English,0
149,149,Beaches,"An update to a classic tear-jerker, we witness...","genre:movie,genre:drama,genre:closed-captions,...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, closed-captions","all-the-feels, nostalgic, warm-and-fuzzy",a-e,lifetime,4,3,Romance,English,0
150,150,Resolve,"Based on the true story of Chris Crean, who to...","genre:movie,genre:drama,genre:drama/real-life-...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, real-life-stories, sunday-theatr...",diverse,screentime,NaN,6,2,Real Life Story,English,0
151,151,Homesick,An ambitious cellist is invited to represent G...,"genre:drama,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"drama, foreign-language-subtitled, movie","psychological, thrilling",rialto,filmstream,3,1,Drama,German,0

In [66]:
rating = []
comment = []
user_id = []
content_id = []

for _ in range(15000):
    rating.append(random.randint(1,5))
    comment.append(fake.paragraph(nb_sentences = 5))
    user_id.append(random.randint(0, max(user_data.ID)))
    content_id.append(random.randint(0, max(content_data.ID)))

In [67]:
rating_data = pd.DataFrame()
rating_data['rating'] = rating
rating_data['comment'] = comment
rating_data['user_id'] = user_id
rating_data['content_id'] = content_id
rating_data

,rating,comment,user_id,content_id
0,5,Could star pattern activity radio author. Risk...,79,119
1,5,Owner phone animal. Computer manager during na...,1,121
2,3,Remain result I not tonight any particular. In...,46,81
3,1,Your then step during little sense. Expert wai...,21,51
4,4,Body culture large word sure feeling. Half wil...,75,92
...,...,...,...,...
14995,2,Recent take month scientist page artist bed. G...,52,31
14996,4,Movie either risk add forget bank agent. Trade...,81,84
14997,1,Hit attorney forward study. Speak protect blue...,64,15
14998,2,Business care or change structure teacher. Spe...,57,130
14999,5,Group yes community go attorney even along. On...,95,94

In [68]:
rating_data.to_csv("rating_data.csv", index=False)

In [70]:
combine = content_data.merge(rating_data.merge(user_data, left_on=['user_id'], right_on=['ID']), left_on=['ID'], right_on=['content_id'] )

In [74]:
combine['content_id'].value_counts().head()

0      125
141    122
45     121
119    120
127    118
Name: content_id, dtype: int64