In [1]:
import pandas as pd
from faker import Faker
import random
import numpy as np

In [2]:
fake = Faker()
id = []
name = []
username = []
birthdate = []
job = []
sex = []

In [3]:
fake.profile()

{'job': 'Doctor, hospital',
 'company': 'Robinson, Graham and Thompson',
 'ssn': '029-04-3133',
 'residence': '448 Mary Stream Apt. 122\nEast Toddside, MS 22422',
 'current_location': (Decimal('65.1180345'), Decimal('-166.707825')),
 'blood_group': 'AB+',
 'website': ['http://www.hunt.com/', 'https://www.hunter-crawford.info/'],
 'username': 'maddoxamanda',
 'name': 'Ashley Henry',
 'sex': 'F',
 'address': '9181 Jason Springs Apt. 757\nNorth Danielberg, CO 15884',
 'mail': 'robertsrobert@gmail.com',
 'birthdate': datetime.date(1972, 1, 14)}

In [4]:
fake.date_of_birth(minimum_age = 18)

datetime.date(1931, 2, 4)

In [5]:
for i in range(101):
    id.append(i)
    name.append(fake.profile()['name'])
    username.append(fake.profile()['username'])
    birthdate.append(fake.date_of_birth(minimum_age = 18))
    job.append(fake.profile()['job'])
    sex.append(fake.profile()['sex'])

In [59]:
len(sex)

101

In [6]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [7]:
calculate_age(birthdate[6])

21

In [8]:
user_data = pd.DataFrame()

In [9]:
user_data['ID'] = id
user_data['name'] = name
user_data['username'] = username
user_data['birthdate'] = birthdate
user_data['job'] = job
user_data['sex'] = sex
user_data

,ID,name,username,birthdate,job,sex
0,0,Deborah Olson,jamesrodriguez,1940-05-31,Furniture conservator/restorer,M
1,1,Stephanie Taylor,nicole89,1964-02-16,Wellsite geologist,F
2,2,Erin Torres,robertsonkyle,2002-10-20,Geophysical data processor,F
3,3,James Young,mcarlson,1918-01-26,"Engineer, materials",F
4,4,Matthew Wallace,harry61,1990-02-07,"Editor, film/video",M
...,...,...,...,...,...,...
96,96,Wanda Rivera,edgar47,1953-10-29,"Surveyor, quantity",M
97,97,Edgar Page,donnachan,1964-04-19,"Journalist, broadcasting",M
98,98,Travis Harper,williamspaul,1929-07-12,Risk manager,F
99,99,Kimberly Burgess,jayhicks,1948-04-10,"Surveyor, building",M
100,100,Laura Sanders,dominicburns,1947-09-28,Geoscientist,F

In [10]:
user_data.to_csv("user_data.csv", index=False)

In [3]:
user_data = pd.read_csv("user_data.csv")

In [4]:
user_data

,ID,name,username,birthdate,job,sex
0,0,Deborah Olson,jamesrodriguez,1940-05-31,Furniture conservator/restorer,M
1,1,Stephanie Taylor,nicole89,1964-02-16,Wellsite geologist,F
2,2,Erin Torres,robertsonkyle,2002-10-20,Geophysical data processor,F
3,3,James Young,mcarlson,1918-01-26,"Engineer, materials",F
4,4,Matthew Wallace,harry61,1990-02-07,"Editor, film/video",M
...,...,...,...,...,...,...
96,96,Wanda Rivera,edgar47,1953-10-29,"Surveyor, quantity",M
97,97,Edgar Page,donnachan,1964-04-19,"Journalist, broadcasting",M
98,98,Travis Harper,williamspaul,1929-07-12,Risk manager,F
99,99,Kimberly Burgess,jayhicks,1948-04-10,"Surveyor, building",M
100,100,Laura Sanders,dominicburns,1947-09-28,Geoscientist,F

In [30]:
content_data = pd.read_csv("TVNZ_metadata.csv")
content_data.head()

,title,description,image,url,keywords,category,ID,cluster
0,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,0,4
1,Watch Amelia Parker S1E4 | TVNZ OnDemand,Amelia struggles to communicate with her first...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/amelia-parker/epi...,"genre:family,genre:comedy,genre:closed-caption...",comedy,1,0
2,Watch Amelia Parker S1E8 | TVNZ OnDemand,Amelia learns to set boundaries when Nathan ta...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/amelia-parker/epi...,"genre:family,genre:comedy,genre:closed-caption...",comedy,2,0
3,Watch Aqua Teen Hunger Force S1E2 | TVNZ OnDemand,Leprechauns use Dr. Weird's Rainbow Maker 400 ...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/aqua-teen-hunger-...,"genre:box-set,genre:comedy,mood:crack-up,mood:...",comedy,5,0
4,Watch Back S1E5 | TVNZ OnDemand,The family set about clearing up after the dis...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/back/episodes/s1-e5,"genre:box-set,genre:comedy,mood:irreverent,moo...",comedy,6,2

In [47]:
content_data['title'] = content_data['title'].str.split("|").str.get(0)
content_data.head()

,title,description,image,url,keywords,category,ID,cluster
0,Watch Absolutely Fabulous S4E7,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,0,4
1,Watch Amelia Parker S1E4,Amelia struggles to communicate with her first...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/amelia-parker/epi...,"genre:family,genre:comedy,genre:closed-caption...",comedy,1,0
2,Watch Amelia Parker S1E8,Amelia learns to set boundaries when Nathan ta...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/amelia-parker/epi...,"genre:family,genre:comedy,genre:closed-caption...",comedy,2,0
3,Watch Aqua Teen Hunger Force S1E2,Leprechauns use Dr. Weird's Rainbow Maker 400 ...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/aqua-teen-hunger-...,"genre:box-set,genre:comedy,mood:crack-up,mood:...",comedy,5,0
4,Watch Back S1E5,The family set about clearing up after the dis...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/back/episodes/s1-e5,"genre:box-set,genre:comedy,mood:irreverent,moo...",comedy,6,2

In [48]:
content_data.to_csv("TVNZ_metadata.csv", index=False)

In [50]:
def Jaccard_Similarity(doc1, doc2): 
    
    # List the unique words in a document
    words_doc1 = set(doc1.lower().split()) 
    words_doc2 = set(doc2.lower().split())
    
    # Find the intersection of words list of doc1 & doc2
    intersection = words_doc1.intersection(words_doc2)

    # Find the union of words list of doc1 & doc2
    union = words_doc1.union(words_doc2)
        
    # Calculate Jaccard similarity score 
    # using length of intersection set divided by length of union set
    return float(len(intersection)) / len(union)

main_title = content_data['title'][1]

In [54]:
Jaccard_Similarity(main_title, content_data['title'][1])

1.0

In [55]:
similarity = []

for title in content_data['title']:
    similarity.append(Jaccard_Similarity(main_title, title))

In [66]:
jac = pd.DataFrame(similarity, columns=['distance'])
jac.sort_values(by=['distance'], ascending=False)[1:6].index

Int64Index([2, 12271, 14562, 9956, 2368], dtype='int64')

In [22]:
content_data['k_means'].value_counts()

2    44
3    31
1    21
4    20
5    14
6    14
0     8
Name: k_means, dtype: int64

In [41]:
# rating = []
# comment = []
# user_id = []
# content_id = []

# for _ in range(100):
#     rating.append(random.randint(1,5))
#     comment.append(fake.paragraph(nb_sentences = 10))
#     user_id.append(random.randint(0, max(user_data.ID)))
#     content_id.append(random.randint(0, max(content_data.ID)))

In [55]:
like, dislike = random.sample(range(1, max(content_data['k_means'])), 2)

In [57]:
dislike

2

In [14]:
rating = []
comment = []
user_id = []
content_id = []

for j in range(max(user_data['ID']+1)):
    like, dislike = random.sample(range(1, max(content_data['cluster'])), 2)
    sample_movie = content_data.sample(frac=0.1).reset_index()
    for movie in range(len(sample_movie)):
        if sample_movie['cluster'].iloc[movie] == like:
            rating.append(random.randint(1,5))
            comment.append(fake.paragraph(nb_sentences = 10))
            user_id.append(j)
            content_id.append(sample_movie['ID'].iloc[movie])
        if sample_movie['cluster'].iloc[movie] == dislike:
            rating.append(random.randint(-5,-1))
            comment.append(fake.paragraph(nb_sentences = 10))
            user_id.append(j)
            content_id.append(sample_movie['ID'].iloc[movie])

In [15]:
rating_data = pd.DataFrame()
rating_data['rating'] = rating
rating_data['comment'] = comment
rating_data['user_id'] = user_id
rating_data['content_id'] = content_id
rating_data

,rating,comment,user_id,content_id
0,-2,Magazine deal fire glass production. Nature be...,0,8822
1,4,Indeed end director whom leave. Relate approac...,0,5388
2,3,Mr special executive money. Better employee ca...,0,6173
3,5,Stage television short. Pick across way build ...,0,9956
4,-5,Ago call early. Man not fish majority address....,0,8787
...,...,...,...,...
11073,-4,Manage field serve but outside. Behavior raise...,100,13721
11074,-1,Herself more nothing beautiful you. Inside fal...,100,15559
11075,-1,Easy all main specific after. Civil fact budge...,100,13706
11076,3,Street white million officer go movie new. Cur...,100,8436
11077,5,Writer major various left by. Race indeed assu...,100,8464

In [16]:
rating_data.to_csv("rating_data.csv", index=False)

In [79]:
# rating_data.groupby(['user_id', 'content_id']).max('rating')

                    rating
user_id content_id
0       6               -1
        8               -2
        10              -3
        50              -1
        65              -4
...                    ...
99      86               1
        88               4
        101             -3
        131             -4
        147              3

[861 rows x 1 columns]

In [17]:
rating_data.pivot(index='content_id', columns='user_id', values='rating').fillna(0)

user_id,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
content_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
rating_data.to_csv("rating_data.csv", index=False)

In [18]:
combine = content_data.merge(rating_data.merge(user_data, left_on=['user_id'], right_on=['ID']), left_on=['ID'], right_on=['content_id'] )

In [21]:
combine = combine.drop(columns=['ID_x', 'ID_y'])

KeyError: "['ID_x', 'ID_y'] not found in axis"

In [22]:
combine

,title,description,image,url,keywords,category,cluster,rating,comment,user_id,content_id,name,username,birthdate,job,sex
0,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,4,4,Answer find car he although hot bank. Somebody...,28,0,Lisa Hunter,johnnyjohnson,1974-06-16,Leisure centre manager,M
1,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,4,3,Amount floor concern open act decision. Sectio...,29,0,Erin Brady,sara84,1931-09-26,Technical sales engineer,M
2,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,4,-1,Research go laugh tax great begin. Team yourse...,55,0,Joseph Garcia,qmiller,1924-09-29,Music therapist,F
3,Watch Back S1E5 | TVNZ OnDemand,The family set about clearing up after the dis...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/back/episodes/s1-e5,"genre:box-set,genre:comedy,mood:irreverent,moo...",comedy,2,4,Past in boy spring beyond treatment. Less thou...,72,6,Anna Clayton,qcameron,1996-10-28,Building services engineer,M
4,Watch Back S1E5 | TVNZ OnDemand,The family set about clearing up after the dis...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/back/episodes/s1-e5,"genre:box-set,genre:comedy,mood:irreverent,moo...",comedy,2,-3,Plant hospital house answer officer. Goal that...,83,6,John Miller,nburgess,1921-11-03,"Scientist, marine",F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11073,Watch Who Killed Lucy The Poodle? S1E2 | TVNZ ...,A trip to Rotorua to search the archives revea...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,4,1,Case chair how cause wall view sound. Our fede...,29,16616,Erin Brady,sara84,1931-09-26,Technical sales engineer,M
11074,Watch Who Killed Lucy The Poodle? S1E4 | TVNZ ...,Hitting dead ends and unable to contact key wi...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,4,1,Still series rich clearly. Kind movie kind sty...,31,16618,Kristin Russell,james75,1924-09-19,Air broker,M
11075,Watch Who Killed Lucy The Poodle? S1E4 | TVNZ ...,Hitting dead ends and unable to contact key wi...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,4,-4,Owner quickly concern well. Republican purpose...,51,16618,Timothy Owens PhD,jamienavarro,1930-01-10,"Engineer, manufacturing",M
11076,Watch Who Killed Lucy The Poodle? | Full Seaso...,The survivor of a disastrous circus event in t...,https://play-images-prod-ctf.tech.tvnz.co.nz/a...,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,12,2,Along fly other way also produce help else. Sp...,39,16622,Samantha Mitchell,ysullivan,1992-06-23,"Psychologist, clinical",F
11077,Watch Who Killed Lucy The Poodle? | Full Seaso...,The survivor of a disastrous circus event in t...,https://play-images-prod-ctf.tech.tvnz.co.nz/a...,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,12,4,Community it standard discover him. Reach rema...,69,16622,Emma Cooper,andrewparrish,1965-06-27,Event organiser,F

In [23]:
combine.to_csv('combine.csv', index=False)

In [2]:
combine = pd.read_csv('combine.csv')

In [19]:
combine

,title,description,image,url,keywords,category,ID_x,cluster,rating,comment,user_id,content_id,ID_y,name,username,birthdate,job,sex
0,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,0,4,4,Answer find car he although hot bank. Somebody...,28,0,28,Lisa Hunter,johnnyjohnson,1974-06-16,Leisure centre manager,M
1,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,0,4,3,Amount floor concern open act decision. Sectio...,29,0,29,Erin Brady,sara84,1931-09-26,Technical sales engineer,M
2,Watch Absolutely Fabulous S4E7 | TVNZ OnDemand,Patsy goes to New York Fashion Week to find id...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/absolutely-fabulo...,"genre:comedy,genre:box-set,genre:christmas,moo...",comedy,0,4,-1,Research go laugh tax great begin. Team yourse...,55,0,55,Joseph Garcia,qmiller,1924-09-29,Music therapist,F
3,Watch Back S1E5 | TVNZ OnDemand,The family set about clearing up after the dis...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/back/episodes/s1-e5,"genre:box-set,genre:comedy,mood:irreverent,moo...",comedy,6,2,4,Past in boy spring beyond treatment. Less thou...,72,6,72,Anna Clayton,qcameron,1996-10-28,Building services engineer,M
4,Watch Back S1E5 | TVNZ OnDemand,The family set about clearing up after the dis...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/back/episodes/s1-e5,"genre:box-set,genre:comedy,mood:irreverent,moo...",comedy,6,2,-3,Plant hospital house answer officer. Goal that...,83,6,83,John Miller,nburgess,1921-11-03,"Scientist, marine",F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11073,Watch Who Killed Lucy The Poodle? S1E2 | TVNZ ...,A trip to Rotorua to search the archives revea...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,16616,4,1,Case chair how cause wall view sound. Our fede...,29,16616,29,Erin Brady,sara84,1931-09-26,Technical sales engineer,M
11074,Watch Who Killed Lucy The Poodle? S1E4 | TVNZ ...,Hitting dead ends and unable to contact key wi...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,16618,4,1,Still series rich clearly. Kind movie kind sty...,31,16618,31,Kristin Russell,james75,1924-09-19,Air broker,M
11075,Watch Who Killed Lucy The Poodle? S1E4 | TVNZ ...,Hitting dead ends and unable to contact key wi...,https://play-images-prod-catalog.tech.tvnz.co....,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,16618,4,-4,Owner quickly concern well. Republican purpose...,51,16618,51,Timothy Owens PhD,jamienavarro,1930-01-10,"Engineer, manufacturing",M
11076,Watch Who Killed Lucy The Poodle? | Full Seaso...,The survivor of a disastrous circus event in t...,https://play-images-prod-ctf.tech.tvnz.co.nz/a...,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,16622,12,2,Along fly other way also produce help else. Sp...,39,16622,39,Samantha Mitchell,ysullivan,1992-06-23,"Psychologist, clinical",F
11077,Watch Who Killed Lucy The Poodle? | Full Seaso...,The survivor of a disastrous circus event in t...,https://play-images-prod-ctf.tech.tvnz.co.nz/a...,https://www.tvnz.co.nz/shows/who-killed-lucy-t...,"genre:documentary,genre:new-zealand,genre:box-...",true-crime,16622,12,4,Community it standard discover him. Reach rema...,69,16622,69,Emma Cooper,andrewparrish,1965-06-27,Event organiser,F

In [89]:
# import numpy

# content = pd.read_csv('TVNZ_movies_v3.csv')

# k_means = content['k_means']

# rating_matrix = numpy.zeros(shape=(152,101))

# for j in range(101):
#     clusters = random.sample(set([0, 1, 2, 3, 4, 5, 6]), 2)
#     like = clusters[0]
#     dislike = clusters[1]
#     for movie in range(152):
#         if (k_means[movie] == like):
#             if (random.random() < 0.7):
#                 rating_matrix[movie][j] = random.randrange(1,6)
#                 #print("user ", j, "likes cluster ", like, "and rated movie ", movie, "with a ", rating_matrix[movie][j])
#         if (k_means[movie] == dislike):
#             if (random.random() < 0.7):
#                 rating_matrix[movie][j] = random.randrange(-5,0)
#                 #print("user ", j, "dislikes cluster ", dislike, "and rated movie ", movie, "with a ", rating_matrix[movie][j])

# print(rating_matrix)

[[ 0.  2.  0. ...  0.  0.  0.]
 [ 0.  3.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 ...
 [ 0.  0.  0. ... -1.  0.  4.]
 [ 3.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]

C:\Users\SaltFarmer\AppData\Local\Temp\ipykernel_9480\2325347673.py:10: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  clusters = random.sample(set([0, 1, 2, 3, 4, 5, 6]), 2)

In [87]:
user_data['ID']

0        0
1        1
2        2
3        3
4        4
      ...
96      96
97      97
98      98
99      99
100    100
Name: ID, Length: 101, dtype: int64

In [81]:
content['ID']

0        0
1        1
2        2
3        3
4        4
      ...
147    147
148    148
149    149
150    150
151    151
Name: ID, Length: 152, dtype: int64

In [79]:
numpy.shape(rating_matrix)

(152, 100)

In [90]:
# pd.DataFrame(rating_matrix, index=content['ID'], columns=user_data['ID'])

ID,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
ID,,,,,,,,,,,,,,,,,,,,,
0,0.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,3.0,0.0,0.0,3.0,0.0,-4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,4.0,0.0,-3.0,0.0,0.0,0.0,...,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,-1.0,0.0,-1.0,2.0,0.0,-3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,-2.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,0.0,2.0,0.0,0.0,0.0
148,0.0,2.0,0.0,0.0,4.0,0.0,-4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,-2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,4.0
150,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,-3.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.0,0.0,0.0,...,0.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
combine.groupby('content_id').mean().sort_values(by=['rating'], ascending=False).head(5).index.values

TypeError: 'numpy.ndarray' object is not callable

# Nearest Neighbour

In [24]:
# df = rating_data.groupby(['user_id', 'content_id']).max('rating').reset_index()
df = rating_data.pivot(index='content_id', columns='user_id', values='rating').fillna(0)
df

user_id,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
content_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

130

In [25]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(metric='cosine', algorithm='brute')

knn.fit(df.values)

distances, indices = knn.kneighbors(df.values, n_neighbors=len(df))

In [26]:
neighbours = {}

for i in range(0, len(indices)):
    nn = indices[i]
    dist = distances[i]    
    e = nn[0]
    e_content = df.index[e]    
    neighbours[e_content] = {"nn": [df.index[n] for n in nn[1:]], "dist": [1 - x for x in dist[1:]]}

In [29]:
indices

array([[   0, 2432, 4780, ...,  352, 3407, 4420],
       [   1, 4204, 5211, ..., 4866, 4873, 4875],
       [   2, 1081, 2949, ..., 4107, 4103, 4123],
       ...,
       [5268, 2204, 1637, ..., 1531, 3895, 5108],
       [5269, 2951, 1702, ..., 4110, 4105, 4140],
       [5270, 1770, 1751, ..., 2690, 2661, 2749]], dtype=int64)

In [124]:
recom4 = content[content['ID'].isin(indices[][1:])]
recom4

,ID,title,description,tag,image,path,genre,mood,distributor,branded-vod,k_means,k_genre,GenreType,Language,Local
67,67,Pool Boy Nightmare,When Gale ends her brief affair with pool clea...,"genre:drama/crime-thriller,genre:drama,genre:m...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"crime-thriller, drama, movie, soap","thrilling, suspenseful",a-e,lifetime,2,0,Thriller,English,0
72,72,Bury The Past,When a women strikes out at her abusive husban...,"genre:movie,genre:drama,mood:dark,mood:suspens...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama","dark, suspenseful, thrilling",a-e,lifetime,2,4,Mystery,English,0
88,88,I Am Somebody's Child: The Regina Louise Story,"The real-life story of Regina Louise, an Afric...","genre:drama,genre:drama/strong-female-lead,gen...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"drama, strong-female-lead, real-life-stories, ...",diverse,a-e,lifetime,2,2,Real Life Story,English,0
149,149,Beaches,"An update to a classic tear-jerker, we witness...","genre:movie,genre:drama,genre:closed-captions,...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, closed-captions","all-the-feels, nostalgic, warm-and-fuzzy",a-e,lifetime,4,3,Romance,English,0
151,151,Homesick,An ambitious cellist is invited to represent G...,"genre:drama,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"drama, foreign-language-subtitled, movie","psychological, thrilling",rialto,filmstream,3,1,Drama,German,0

In [105]:
def predict_rating(user_id, content_id, neighbours):
    
    if content_id not in neighbours:
        print("no data for content_id")
        
    neighbours = neighbours[content_id]
    
    nn = neighbours['nn']
    dist = neighbours['dist']
    
    numerator = 0
    denominator = 0
    
    for i in range(0, len(nn)):
        
        content_id = nn[i]
        user_rating = df.loc[content_id, user_id]
        
        if user_rating > 0:
            
            numerator += user_rating * dist[i]
            denominator += dist[i]
            
    if denominator > 0:
        
        return numerator / denominator
    
    else: 
        
        return 0

In [108]:
predict_rating('1', '2', 5)

TypeError: argument of type 'int' is not iterable