In [1]:
import pandas as pd
from faker import Faker
import random

In [2]:
fake = Faker()
id = []
name = []
username = []
birthdate = []
job = []
sex = []

In [3]:
fake.profile()

{'job': 'Doctor, hospital',
 'company': 'Robinson, Graham and Thompson',
 'ssn': '029-04-3133',
 'residence': '448 Mary Stream Apt. 122\nEast Toddside, MS 22422',
 'current_location': (Decimal('65.1180345'), Decimal('-166.707825')),
 'blood_group': 'AB+',
 'website': ['http://www.hunt.com/', 'https://www.hunter-crawford.info/'],
 'username': 'maddoxamanda',
 'name': 'Ashley Henry',
 'sex': 'F',
 'address': '9181 Jason Springs Apt. 757\nNorth Danielberg, CO 15884',
 'mail': 'robertsrobert@gmail.com',
 'birthdate': datetime.date(1972, 1, 14)}

In [4]:
fake.date_of_birth(minimum_age = 18)

datetime.date(1931, 2, 4)

In [5]:
for i in range(101):
    id.append(i)
    name.append(fake.profile()['name'])
    username.append(fake.profile()['username'])
    birthdate.append(fake.date_of_birth(minimum_age = 18))
    job.append(fake.profile()['job'])
    sex.append(fake.profile()['sex'])

In [59]:
len(sex)

101

In [6]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [7]:
calculate_age(birthdate[6])

21

In [8]:
user_data = pd.DataFrame()

In [9]:
user_data['ID'] = id
user_data['name'] = name
user_data['username'] = username
user_data['birthdate'] = birthdate
user_data['job'] = job
user_data['sex'] = sex
user_data

,ID,name,username,birthdate,job,sex
0,0,Deborah Olson,jamesrodriguez,1940-05-31,Furniture conservator/restorer,M
1,1,Stephanie Taylor,nicole89,1964-02-16,Wellsite geologist,F
2,2,Erin Torres,robertsonkyle,2002-10-20,Geophysical data processor,F
3,3,James Young,mcarlson,1918-01-26,"Engineer, materials",F
4,4,Matthew Wallace,harry61,1990-02-07,"Editor, film/video",M
...,...,...,...,...,...,...
96,96,Wanda Rivera,edgar47,1953-10-29,"Surveyor, quantity",M
97,97,Edgar Page,donnachan,1964-04-19,"Journalist, broadcasting",M
98,98,Travis Harper,williamspaul,1929-07-12,Risk manager,F
99,99,Kimberly Burgess,jayhicks,1948-04-10,"Surveyor, building",M
100,100,Laura Sanders,dominicburns,1947-09-28,Geoscientist,F

In [10]:
user_data.to_csv("user_data.csv", index=False)

In [11]:
user_data

,ID,name,username,birthdate,job,sex
0,0,Deborah Olson,jamesrodriguez,1940-05-31,Furniture conservator/restorer,M
1,1,Stephanie Taylor,nicole89,1964-02-16,Wellsite geologist,F
2,2,Erin Torres,robertsonkyle,2002-10-20,Geophysical data processor,F
3,3,James Young,mcarlson,1918-01-26,"Engineer, materials",F
4,4,Matthew Wallace,harry61,1990-02-07,"Editor, film/video",M
...,...,...,...,...,...,...
96,96,Wanda Rivera,edgar47,1953-10-29,"Surveyor, quantity",M
97,97,Edgar Page,donnachan,1964-04-19,"Journalist, broadcasting",M
98,98,Travis Harper,williamspaul,1929-07-12,Risk manager,F
99,99,Kimberly Burgess,jayhicks,1948-04-10,"Surveyor, building",M
100,100,Laura Sanders,dominicburns,1947-09-28,Geoscientist,F

In [12]:
content_data = pd.read_csv("TVNZ_movies_v3.csv")

In [13]:
content_data

,ID,title,description,tag,image,path,genre,mood,distributor,branded-vod,k_means,k_genre,GenreType,Language,Local
0,0,Smoke & Mirrors,The true story of a man who fooled an entire c...,"genre:drama/crime-thriller,genre:drama,genre:d...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"crime-thriller, drama, foreign-language-subtit...","thrilling, mysterious",rialto,filmstream,3,0,Thriller,Spanish,0
1,1,Dede,A young woman living in a remote mountain vill...,"genre:drama,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"drama, foreign-language-subtitled, movie, real...","revealing, all-the-feels",rialto,filmstream,3,1,Drama,English,0
2,2,The Soul of Flies,A tale of two brothers who meet for the first ...,"genre:movie,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, foreign-language-subtitled, comedy","quirky, irreverent, cheeky",rialto,filmstream,3,1,Drama,Spanish,0
3,3,The Unauthorised Melrose Place Story,Discover the drama that went on behind the cam...,"genre:movie,genre:closed-captions,genre:drama,...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, closed-captions, drama, real-life-stori...","nostalgic, all-the-feels",a-e,lifetime,5,2,Real Life Story,English,0
4,4,Stolen By My Mother: The Kamiyah Mobley Story,"Based on the true story, an 18-year-old girl f...","genre:movie,genre:drama,genre:drama/real-life-...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, real-life-stories",diverse,a-e,lifetime,2,2,Real Life Story,English,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,147,Gone Mom: The Disappearance of Jennifer Dulos,"Based on the true story of Jennifer Dulos, a w...","genre:movie,genre:drama/real-life-stories,genr...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, real-life-stories, drama, crime-thriller","mysterious, thrilling, all-the-feels",a-e,lifetime,2,0,Thriller,English,0
148,148,Good Manners,"Clara, a lonely nurse from the outskirts of SÃ£...","genre:drama/crime-thriller,genre:drama,genre:d...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"crime-thriller, drama, foreign-language-subtit...","mysterious, scary, all-the-feels",rialto,filmstream,3,1,Drama,English,0
149,149,Beaches,"An update to a classic tear-jerker, we witness...","genre:movie,genre:drama,genre:closed-captions,...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, closed-captions","all-the-feels, nostalgic, warm-and-fuzzy",a-e,lifetime,4,3,Romance,English,0
150,150,Resolve,"Based on the true story of Chris Crean, who to...","genre:movie,genre:drama,genre:drama/real-life-...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"movie, drama, real-life-stories, sunday-theatr...",diverse,screentime,NaN,6,2,Real Life Story,English,0
151,151,Homesick,An ambitious cellist is invited to represent G...,"genre:drama,genre:drama/foreign-language-subti...",https://play-images-prod-ctf.tech.tvnz.co.nz/a...,/Users/xutingxuan/Desktop/MSc ADS/B3_Personali...,"drama, foreign-language-subtitled, movie","psychological, thrilling",rialto,filmstream,3,1,Drama,German,0

In [14]:
rating = []
comment = []
user_id = []
content_id = []

for _ in range(15000):
    rating.append(random.randint(1,5))
    comment.append(fake.paragraph(nb_sentences = 10))
    user_id.append(random.randint(0, max(user_data.ID)))
    content_id.append(random.randint(0, max(content_data.ID)))

In [15]:
rating_data = pd.DataFrame()
rating_data['rating'] = rating
rating_data['comment'] = comment
rating_data['user_id'] = user_id
rating_data['content_id'] = content_id
rating_data

,rating,comment,user_id,content_id
0,4,Only call risk board line fire. How upon execu...,34,33
1,2,Draw white treatment memory right. Window me u...,43,76
2,5,Detail at ago necessary. Hotel land policy tre...,54,124
3,5,Red price teacher a. Successful pull your room...,5,108
4,5,Cost gas likely rise ever. Myself right police...,40,77
...,...,...,...,...
14995,1,According traditional difficult piece effect b...,85,29
14996,1,Recent attention field contain also high. Item...,70,123
14997,3,Democratic century method term head challenge....,69,29
14998,2,Push quickly truth later. Just by region laugh...,33,143
14999,5,Enjoy sea over. Give computer beautiful woman ...,3,132

In [16]:
rating_data.to_csv("rating_data.csv", index=False)

In [17]:
combine = content_data.merge(rating_data.merge(user_data, left_on=['user_id'], right_on=['ID']), left_on=['ID'], right_on=['content_id'] )

In [18]:
combine.to_csv('combine.csv', index=False)

In [3]:
combine = pd.read_csv('combine.csv')

In [16]:
combine.groupby('content_id').mean().sort_values(by=['rating'], ascending=False).head(5).index.values

TypeError: 'numpy.ndarray' object is not callable